### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Adobe ###
# Adobe Source Files
*.psd
*.ai
*.indd
*.prproj
*.aep